{%extends 'base/base.html.twig' %}
{%block stylesheets%}
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{%endblock%}
{%block main%}
<form class="col-md-6 mx-auto mt-2" method="post">
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <label class="input-group-text">Name</label>
    </div>
    <input class="form-control" type="text" name="name" placeholder="Pokename">
  </div>
  <div class="text-center">
    <hr>
    <div class="d-types">
    {%for type in types1%}
      <span class="pointer types unselected" id="{{type}}" data-status="unselected">
        <img src="{{asset("img/types/#{type}.png")}}" alt="">
      </span>
    {%endfor%}
    </div>
    <div class="d-types">
    {%for type in types2%}
      <span class="pointer types unselected" id="{{type}}" data-status="unselected">
        <img src="{{asset("img/types/#{type}.png")}}" alt="">
      </span>
    {%endfor%}
    </div>
    <div class="d-types col-4 mx-auto mt-2">
      <div class="badge badge-secondary pointer operator" id="mono">
        MONO
      </div>
      <div class="badge badge-secondary pointer operator" id="and">
        AND
      </div>
      <div class="badge badge-secondary pointer operator" id="or">
        OR
      </div>
    </div>
    <small id="help_types" class="form-text text-muted">
     Search for pokemon with any type.
    </small>
    <hr>
    <div class="d-types">
    {%for gen in 1..7 %}
      <div class="badge badge-secondary pointer generation" id="{{gen}}">
        Gen. {{gen}}
      </div>
    {%endfor%}
    </div>
    <small id="help_generations" class="form-text text-muted">
      Search for pokemon in any generation.
    </small>
    <hr>
    <div class="mt-2">
      <button class="btn btn-info" type="submit" id="submit">
        Search
      </button>
    </div>
  </div>
  <!-- CONDITIONS -->
  <input type="hidden" name="hi_types"       id="hi_types"      >
  <input type="hidden" name="hi_generations" id="hi_generations">
  <input type="hidden" name="hi_operation"   id="hi_operation"  >
  <!-- HANDLER -->
  <input type="hidden" name="handler" value="search">
</form>
{%endblock%}
{% block javascripts %}
    <script src="/script/search.js"></script>
{% endblock %}
