{% extends 'base/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/pokemon.css') }}">
{% endblock %}
{%block main%}
  <div class="container m-auto">
    <h2>#{{id}} - {{pokemon["name"]}}</h2>
    <div class="d-flex">
      <section class="col-6 text-center">
        <figure>
         <img src="{{ asset("img/sprites/gen_1/Sprite_3_f_#{pokemon.pokeId}.png") }}">
         <figcaption>
           {{pokemon["name"]}}
         </figcaption>
        </figure>
      </section>
      <section class="col-6">
        <h4>Type</h4>
        <img src="{{asset("img/types/#{pokemon.type1}.png")}}" alt="">
        {% if pokemon.type2 %}
          <img src="{{asset("img/types/#{pokemon.type2}.png")}}" alt="">
        {% endif %}
      </section>
    </div>
  </div>
{%endblock%}
