{% extends 'base/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/pokemon.css') }}">
{% endblock %}
{%block main%}
  <h2>#{{id}} - {{pokemon["name"]}}</h2>
  <section>
    <figure>
     <img src="https://dummyimage.com/200x200/333333/dedede.png">
     <figcaption>
       {{pokemon["name"]}}
     </figcaption>
    </figure>
  </section>
  <section>
    <h4>Type</h4>
    <img src="{{asset("img/types/#{pokemon.type1}.png")}}" alt="">
    {% if pokemon.type2 %}
      <img src="{{asset("img/types/#{pokemon.type2}.png")}}" alt="">
    {% endif %}
  </section>
{%endblock%}
