{% extends 'base/base.html.twig' %}
{%block stylesheets%}
    <link rel="stylesheet" href="{{ asset('css/pokemon.css') }}">
{%endblock%}
{%block main%}
  <h2>All Pokemon</h2>
  <table>
    <tr>
      <th>Id</th>
      <th>Sprite</th>
      <th>Name</th>
      <th>Types</th>
      <th>Generation</th>
    </tr>
  {%for pokemon in pokemons%}
    <tr>
      <td>
        {{pokemon.id}}
       </td>
      <td>
        <img src="{{asset("img/mini_sprites/mini_#{pokemon.generation}/mini_#{pokemon.generation}_#{pokemon.id}.png")}}">
      </td>
      <td>
        {{pokemon.name}}
      </td>
      <td class="d-flex justify-content-around">
        <div class="pointer types" id="{{pokemon.type1}}">
          {{pokemon.type1|capitalize}}
        </div>
        {% if pokemon.type2 %}
        <div class="pointer types" id="{{pokemon.type2}}">
          {{pokemon.type2|capitalize}}
        </div>
        {% endif %}
      </td>
      <td>
        {{pokemon.generation}}
      </td>
    </tr>
  {%endfor%}
  </table>
{%endblock%}
